<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>regiser or login</h2>

    <button><a href="login">Login</a></button>
    <button><a href="register">register</a></button>
    
</body>
</html>