<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login to your todolist account</h1>
    <hr>
    <form action="/login" method="post">
        <label>Email</label> <br>
        <input type="text" name="EmailUser" placeholder="enter your email"><br>
        <label>Password</label> <br>
        <input type="password" name="password" placeholder="enter your password"><br>
        <button type="submit">Login</button>
    </form>
</body>
</html>